* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(210, 210, 218);
}

h1 {
  text-align: center;
  padding: 1rem;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid rgb(23, 128, 0);
  border-radius: 3ch;
  margin: 1rem;
}

section {
  padding: 0 1rem;
}

.partylist {
  list-style: none;
  display: grid;
  gap: 1ch;
}

.partylist a {
  color: unset;
  text-decoration: unset;

  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 1ch;
}

.partylist a:hover {
  background: #eee;
}

.partylist li.selected {
  font-style: italic;
}

.party {
  display: grid;
  gap: 1ch;
}

/* img {
  max-width: 100%;
  object-fit: contain;
} */

@media (width > 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
